<mat-card>
  <mat-card class="lightbg">
    <mat-card-header>
      <mat-card-title>Profile ID for {{ theProfile?.prefix }} {{ theProfile?.firstName }} {{ theProfile?.lastName }} {{ theProfile?.suffix }}</mat-card-title>
    </mat-card-header>
    <mat-card class="no-border no-padding">
      <mat-card-content>
        <div class="note_box text-center">
          <h3 class="mat-h3">
              Profile ID Content go here.
          </h3>
          <p>
            I do not have a clear idea of the actual data structure for what goes here.
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card>
</mat-card>
